<div class="notes_content_container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input_holder">
      <input formControlName="title" />
      <textarea
        formControlName="content"
        class="textarea-control"
        rows="6"
      ></textarea>
    </div>

    <div class="btns">
      <button type="button" [disabled]="isdisabled" (click)="revert()">
        Revert
      </button>
      <button type="submit" [disabled]="isdisabled">Save</button>
    </div>
  </form>
</div>
